body {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/* Fonts
------------------------------------------------------------- */

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.17em;
  font-weight: 400;
}

p {
  margin: 20px 0px;
  line-height: 24px;
}

blockquote {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 25px 20px;
}

/* Style Github Examples */

a[href*="https://github.com/runemadsen/printing-code/tree/master"] {
  display: block;
  padding: 10px;
  background-color: rgb(209, 220, 229);
  color: black;
  text-align: center;
  font-size: 18px;
}

img[data-slideshow] {
  border: 1px solid #EBEBEB;
}

/* Skeleton
------------------------------------------------------------- */

#main {
  margin-top: 15px;
  padding-bottom: 40px;
}

#left {
  margin-bottom: 30px;
}

#lines {
  background-color: #FFF;
  width: 100%;
}

/* Header
------------------------------------------------------------- */

header {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 10px 0px;
  font-size: 17px;
  font-weight: 400;
}

header a {
  color: #414141;
}

/* TOC
------------------------------------------------------------- */

#toc {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

#toc li {
 margin-bottom: 6px;
 margin-right: 10px;
 display: inline-block;
}

.launch-slideshow {
  font-size: 13px;
  color: #ababab;
}

/* Responsive
--------------------------------------------------------------- */

@media (min-width: 630px) {

}

@media (min-width: 930px) {

  #left {
    margin-bottom: 0px;
  }

  #main {
    margin-top: 30px;
  }

  #toc li {
    display: block;
  }

}